@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif , 'DM Sans';
    font-size: 16px;
    font-weight: 400;

}



.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;

    }

    &:hover {
         background-color: #191919;
         border: 1px solid #191919;
         color: #e9e9e9;
    }
    

}

.btn-transparent {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;

    }

    &:hover {
         background-color: #191919;
         border: 1px solid #191919;
         color: #e9e9e9;
    }
}

.btn-yellow-wide {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 15px 170px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;


    i {
        margin-left: 8px;
        font-size: 0.9em;

    }

    &:hover {
         background-color: #191919;
         border: 1px solid #191919;
         color: #e9e9e9;
    }
    

}

.btn-black {
    background-color: black;
    border: 1px solid #F9D783;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;

    }

    &:hover {
         background-color: #191919;
         border: 1px solid #191919;
         color: #e9e9e9;
    }
    

}

.btn-icon {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
        font-size: 0.9em;

    }

    &:hover {
         background-color: #191919;
         border: 1px solid #191919;
         color: #e9e9e9;
    }
    

}

.btn-icon-boxes-partsix {
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: 5px;
    font-size: 20px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover {
         background-color: white;
         color: black;
    }

}

.btn-transparent-partsix {
    background-color: transparent;
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;

    i {
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover {
         background-color: #191919;
         border: 1px solid #191919;
         color: #e9e9e9;
    }
}

header {
    background-color: #F0EFE9;
    padding: 25px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 80px;

        .menu-bars {
            border: none;
            font-size: 30px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }
        
        .menu {
            display: none;
            flex: 1;

            @media (min-width: 992px) {
                display: block;
            }
            
            .top-menu  {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border-bottom: 1px solid #DAD9D3;
                padding-bottom: 10px;

                @media (min-width: 1200px) {
                    justify-content: space-between;
                }
                
                .contact-information {
                    display: none;
                    align-items: center;

                    @media (min-width: 1200px) {
                        display: flex;
                    }

                    .content-box {
                        padding-right: 35px;
                        margin-right: 35px;
                        border-right: 1px solid #DAD9D3;
                        font-family: 'Inter', sans-serif;
                        font-size: 15px;
                        font-weight: 300;

                        i {
                            margin-right: 5px;
                            font-size: 1.2em;
                        }

                        &.last {
                            border: none;
                        }
                    }
                }

                .social-media {
                    a { 
                        color: #191919;
                        font-size: 1.3rem;
                        margin-left: 8px;

                        &:hover {
                            color: #666666;
                        }
                    }
                }
            }

            .main-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;

                nav {
                    a {
                        display: inline-block;
                        color:#191919;
                        text-decoration: none;
                        margin-right: 35px;
                        position: relative;

                        &.active {
                            font-weight: 500;
                        }

                        &.active::after, 
                        &:hover::after {  
                            content: '';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                } 
            }
        }    
    }                   
}  

.showcase {
    background-color: #F0EFE9; 

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content {
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;

                @media (min-width: 768px) {
                    font-size: 70px;
                }
            }

            p {
                font-size: 16px;
                padding-top: 35px;
                padding-bottom: 40px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                }

            }

            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }

        img {
            display: none;
            margin-right: -50px;
            
            @media (min-width: 1200px) {
                display: block;
            }
        
        }
    }
}

.fivelogos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    max-width: 1320px;
    margin: 0 auto;
}

.partfour {
    border: 1px solid rgba(25, 25, 25, 0.3);
    max-width: 1550px; 
    margin: 0 auto; 
    border-radius: 5px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .left-text {

            flex: 0.5;
            padding: 20px;

            h1 {
                padding-bottom: 50px;
                font-weight: Bold;
                font-size: 45px;
            }

            p {
                color: red;
                padding-bottom: 5px;
            }


            a { 
                margin-left: 60px;
            }
        }
        
        .right-text {

            padding-top: 70px;
            padding-bottom: 60px;
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            flex: 0.5;
            font-family: 'DM Sans', sans-serif;
            font-weight: bold;

            .box1,
            .box2,
            .box3,
            .box4 {

                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 20px;
                flex-basis: calc(50% - 20px);
                margin: 0;
                text-align: left;

                .icon {
                    text-align: left;
                    margin-bottom: 30px;
                }
                    i {
                        font-size: 35px;
                    }

                h1 {
                    font-size: 25px;
                    font-weight: 700;
                }

                p {
                    margin-top: 5px;
                    color:#666666;
                }

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
}         

.partfive {
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    max-width: 1320px;
    margin: 0 auto;

    .left-side {
        flex: 0.5;
        margin-left: 150px;
        margin-right: 180px;
        position: relative;
    }

    .right-side {
        flex: 0.5;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        
            h1 {
                font-weight: Bold;
                font-size: 45px;
                padding-bottom: 35px;
                font-family: 'DM Sans', sans-serif;
                margin: 0;
            }

            p {
                color: #666666;
                padding-bottom: 35px;
                width: 500px;
                font-family: 'Inter', sans-serif;
                margin: 0;
            }

            .redtext {
                box-shadow: none;
                color: red;
                margin: 0;
            } 
            .button-container {
               margin-top: auto;
               display: flex;
               justify-content: flex-start;
               align-items: center;
               padding-top: 80px;
               padding-bottom: 20px;

            }
            
            .btn-black {
                margin-right: 35px;
                font-size: 18px;
                padding: 17px 30px;
                border-radius: 50px;
            }

            .btn-icon {
                margin-right: 15px; 
                font-size: 20px;
                padding: 25px 25px;
            }
    }
   
    .blue-sheet {
        width: 380px;
        height: 180px;
        background-color: #BEEBFF;
        position: absolute;
        top: 65%; 
        right: 40%; 
        z-index: 1; 
        display: flex;
        justify-content: center;
        text-align: left;
        flex-direction: column;
    }

    .P-quote-text {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-style: normal;
        color: black;
        text-align: left;
        padding-left: 20px;
        margin: 0;
    }

    .H1-quote-text {
        font-family: 'DM sans', sans-serif;
        font-size: 25px;
        font-weight: 850;
        font-style: 'Dm sans';
        color: black;
        text-align: left;
        padding-left: 20px;
        padding-bottom: 20px;
        margin: 0;
    }

    .H1-quote-text span {
        color: red;
        font-size: 16px;
    }
}

.partsix {
    background-color: #F0EFE9;
    padding: 130px;
    font-family: 'DM Sans', sans-serif;

    .redtextp {
        color: red;
        max-width: 1300px;
        margin: 0 auto; 
        margin-bottom: 25px;
    }

    .line {
        width: 15%;
        border-bottom: 3px solid rgba(0, 0, 0, 0.5);
        margin-bottom: 30px;
    }

    h1 {
        max-width: 1300px;
        margin: 0 auto; 
        display: flex;
        font-weight: Bold;
        font-size: 45px;
        
    }

    .fyrabox {
        max-width: 1335px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;

    }
    
    .fyrabox .box1,
    .fyrabox .box2,
    .fyrabox .box3,
    .fyrabox .box4 {
        background-color: white;
        width: 300px;
        height: 330px; 
        padding: 25px;
        text-align: left;
        position: relative;
        margin: 15px;
        margin-bottom: 40px;
    }
    
    .fyrabox h1 {
        font-size: 22px;
        color: black;
        padding-bottom: 15px;
    }
    
    .fyrabox p {
        font-size: 16px;
        color: grey;
        padding-bottom: 15px;
    }
    
    .fyrabox .box1:hover,
    .fyrabox .box2:hover,
    .fyrabox .box3:hover,
    .fyrabox .box4:hover {
        background-color: #F9D783;
    }

    .fyrabox .btn-icon-boxes-partsix {
        display: flex;
        align-items: center;
        margin-left: auto; 
    }

    .btn-transparent-partsix {
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 13px 15px;
        font-weight: 300;
        font-size: 16px;
        border-radius: 25px;
        max-width: 200px;
    }
}

.partseven {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;


    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .left-side {
        width: 40%;
        height: 630px;
        padding: 60px 40px;
        background-color: white;
        position: relative;
    

        .redtext {
            color: red;
            font-size: 18px;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 40px;
            font-weight: 700;
            padding-bottom: 35px;
        }

        .box-container {
            display: flex;
            flex-direction: column;

        }   

        .box1,
        .box2,
        .box3,
        .box4 {
            flex-basis: 100%;
            margin-bottom: 20px;
            display: flex;
            align-items: flex-start;
            
        }

        .icon {
            width: 50px;
            height: 50px;
            border: 1px solid grey;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            flex-shrink: 0; 
            font-size: 22px;
            color: black; 
        }

        .text {
            flex-grow: 1; 
            flex-direction: column;
        }
        
        .first {
            font-size: 19px;
            font-weight: bold;
            margin-bottom: 10px;
            display: block;
        }

        p {
            font-size: 14px;
            margin: 0;
        }
    }

    .right-side {
        width: 60%;
        position: relative;
    }

    .img1 {
        max-width: 80%;
        height: auto;
        position: absolute;
        top: 70px;
        left: 150px;
        z-index: 2;
    }

    .img2 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

.parteight {
    background-color: white;
    padding-top: 80px;
    text-align: center;
    max-width: 1320px;
    margin: 0 auto;

    .redtext {
        color: red;
        font-size: 13px;
    }

    h1 {
        font-size: 40px;
        font-weight: 600;
    }

    .fourboxes {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        margin-top: 60px;

        .box1,
        .box2,
        .box3,
        .box4 {

            text-align: left;
            box-sizing: border-box;

            img {
                max-width: 100%;
                height: auto;
                padding-bottom: 25px;
            }

            p {
                font-size: 20px;
                font-weight: 600;
            }

            .line {
                border: 1px solid grey;
            }
            
            .righttext {
                text-align: right;
                font-weight: 100;
                font-size: 13px;
                padding-top: 15px;
                padding-bottom: 40px;
            }
        }    
    }
    
}