@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif, "DM Sans";
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #e9e9e9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #e9e9e9;
}

.btn-yellow-wide {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 170px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow-wide i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow-wide:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #e9e9e9;
}

.btn-black {
  background-color: black;
  border: 1px solid #F9D783;
  color: white;
  text-decoration: none;
  padding: 13px 30px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #e9e9e9;
}

.btn-icon {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon i {
  font-size: 0.9em;
}
.btn-icon:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #e9e9e9;
}

.btn-icon-boxes-partsix {
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: 5px;
  font-size: 20px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon-boxes-partsix:hover {
  background-color: white;
  color: black;
}

.btn-transparent-partsix {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent-partsix i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent-partsix:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #e9e9e9;
}

header {
  background-color: #F0EFE9;
  padding: 25px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
header .container .menu-bars {
  border: none;
  font-size: 30px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 35px;
  margin-right: 35px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 8px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #666666;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
.showcase .container .content p {
  font-size: 16px;
  padding-top: 35px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.fivelogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  max-width: 1320px;
  margin: 0 auto;
}

.partfour {
  border: 1px solid rgba(25, 25, 25, 0.3);
  max-width: 1550px;
  margin: 0 auto;
  border-radius: 5px;
}
.partfour .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partfour .container .left-text {
  flex: 0.5;
  padding: 20px;
}
.partfour .container .left-text h1 {
  padding-bottom: 50px;
  font-weight: Bold;
  font-size: 45px;
}
.partfour .container .left-text p {
  color: red;
  padding-bottom: 5px;
}
.partfour .container .left-text a {
  margin-left: 60px;
}
.partfour .container .right-text {
  padding-top: 70px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex: 0.5;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}
.partfour .container .right-text .box1,
.partfour .container .right-text .box2,
.partfour .container .right-text .box3,
.partfour .container .right-text .box4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-basis: calc(50% - 20px);
  margin: 0;
  text-align: left;
}
.partfour .container .right-text .box1 .icon,
.partfour .container .right-text .box2 .icon,
.partfour .container .right-text .box3 .icon,
.partfour .container .right-text .box4 .icon {
  text-align: left;
  margin-bottom: 30px;
}
.partfour .container .right-text .box1 i,
.partfour .container .right-text .box2 i,
.partfour .container .right-text .box3 i,
.partfour .container .right-text .box4 i {
  font-size: 35px;
}
.partfour .container .right-text .box1 h1,
.partfour .container .right-text .box2 h1,
.partfour .container .right-text .box3 h1,
.partfour .container .right-text .box4 h1 {
  font-size: 25px;
  font-weight: 700;
}
.partfour .container .right-text .box1 p,
.partfour .container .right-text .box2 p,
.partfour .container .right-text .box3 p,
.partfour .container .right-text .box4 p {
  margin-top: 5px;
  color: #666666;
}
.partfour .container .right-text .box1:not(:last-child),
.partfour .container .right-text .box2:not(:last-child),
.partfour .container .right-text .box3:not(:last-child),
.partfour .container .right-text .box4:not(:last-child) {
  margin-right: 10px;
}

.partfive {
  padding-top: 130px;
  padding-bottom: 130px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
}
.partfive .left-side {
  flex: 0.5;
  margin-left: 150px;
  margin-right: 180px;
  position: relative;
}
.partfive .right-side {
  flex: 0.5;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.partfive .right-side h1 {
  font-weight: Bold;
  font-size: 45px;
  padding-bottom: 35px;
  font-family: "DM Sans", sans-serif;
  margin: 0;
}
.partfive .right-side p {
  color: #666666;
  padding-bottom: 35px;
  width: 500px;
  font-family: "Inter", sans-serif;
  margin: 0;
}
.partfive .right-side .redtext {
  box-shadow: none;
  color: red;
  margin: 0;
}
.partfive .right-side .button-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 20px;
}
.partfive .right-side .btn-black {
  margin-right: 35px;
  font-size: 18px;
  padding: 17px 30px;
  border-radius: 50px;
}
.partfive .right-side .btn-icon {
  margin-right: 15px;
  font-size: 20px;
  padding: 25px 25px;
}
.partfive .blue-sheet {
  width: 380px;
  height: 180px;
  background-color: #BEEBFF;
  position: absolute;
  top: 65%;
  right: 40%;
  z-index: 1;
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}
.partfive .P-quote-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  color: black;
  text-align: left;
  padding-left: 20px;
  margin: 0;
}
.partfive .H1-quote-text {
  font-family: "DM sans", sans-serif;
  font-size: 25px;
  font-weight: 850;
  font-style: "Dm sans";
  color: black;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.partfive .H1-quote-text span {
  color: red;
  font-size: 16px;
}

.partsix {
  background-color: #F0EFE9;
  padding: 130px;
  font-family: "DM Sans", sans-serif;
}
.partsix .redtextp {
  color: red;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.partsix .line {
  width: 15%;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
.partsix h1 {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  font-weight: Bold;
  font-size: 45px;
}
.partsix .fyrabox {
  max-width: 1335px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.partsix .fyrabox .box1,
.partsix .fyrabox .box2,
.partsix .fyrabox .box3,
.partsix .fyrabox .box4 {
  background-color: white;
  width: 300px;
  height: 330px;
  padding: 25px;
  text-align: left;
  position: relative;
  margin: 15px;
  margin-bottom: 40px;
}
.partsix .fyrabox h1 {
  font-size: 22px;
  color: black;
  padding-bottom: 15px;
}
.partsix .fyrabox p {
  font-size: 16px;
  color: grey;
  padding-bottom: 15px;
}
.partsix .fyrabox .box1:hover,
.partsix .fyrabox .box2:hover,
.partsix .fyrabox .box3:hover,
.partsix .fyrabox .box4:hover {
  background-color: #F9D783;
}
.partsix .fyrabox .btn-icon-boxes-partsix {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.partsix .btn-transparent-partsix {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 13px 15px;
  font-weight: 300;
  font-size: 16px;
  border-radius: 25px;
  max-width: 200px;
}

.partseven {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.partseven .container {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.partseven .left-side {
  width: 40%;
  height: 630px;
  padding: 60px 40px;
  background-color: white;
  position: relative;
}
.partseven .left-side .redtext {
  color: red;
  font-size: 18px;
  margin-bottom: 20px;
}
.partseven .left-side h1 {
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 35px;
}
.partseven .left-side .box-container {
  display: flex;
  flex-direction: column;
}
.partseven .left-side .box1,
.partseven .left-side .box2,
.partseven .left-side .box3,
.partseven .left-side .box4 {
  flex-basis: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}
.partseven .left-side .icon {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
  font-size: 22px;
  color: black;
}
.partseven .left-side .text {
  flex-grow: 1;
  flex-direction: column;
}
.partseven .left-side .first {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}
.partseven .left-side p {
  font-size: 14px;
  margin: 0;
}
.partseven .right-side {
  width: 60%;
  position: relative;
}
.partseven .img1 {
  max-width: 80%;
  height: auto;
  position: absolute;
  top: 70px;
  left: 150px;
  z-index: 2;
}
.partseven .img2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.parteight {
  background-color: white;
  padding-top: 80px;
  text-align: center;
  max-width: 1320px;
  margin: 0 auto;
}
.parteight .redtext {
  color: red;
  font-size: 13px;
}
.parteight h1 {
  font-size: 40px;
  font-weight: 600;
}
.parteight .fourboxes {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 60px;
}
.parteight .fourboxes .box1,
.parteight .fourboxes .box2,
.parteight .fourboxes .box3,
.parteight .fourboxes .box4 {
  text-align: left;
  box-sizing: border-box;
}
.parteight .fourboxes .box1 img,
.parteight .fourboxes .box2 img,
.parteight .fourboxes .box3 img,
.parteight .fourboxes .box4 img {
  max-width: 100%;
  height: auto;
  padding-bottom: 25px;
}
.parteight .fourboxes .box1 p,
.parteight .fourboxes .box2 p,
.parteight .fourboxes .box3 p,
.parteight .fourboxes .box4 p {
  font-size: 20px;
  font-weight: 600;
}
.parteight .fourboxes .box1 .line,
.parteight .fourboxes .box2 .line,
.parteight .fourboxes .box3 .line,
.parteight .fourboxes .box4 .line {
  border: 1px solid grey;
}
.parteight .fourboxes .box1 .righttext,
.parteight .fourboxes .box2 .righttext,
.parteight .fourboxes .box3 .righttext,
.parteight .fourboxes .box4 .righttext {
  text-align: right;
  font-weight: 100;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 40px;
}